<div id="mainbar" role="main" aria-label="question and answers">
    <!--<div id="showmsg"></div>-->
    <!--<div id="showmsgt"></div>-->

    <!--<div id="submit" type="submit">submit</div>-->

    <table style="width:100%">
        <tr>
            <th>id</th>
            <th>color_id</th>
            <th>product_id</th>
            <th>soluong</th>
            <th>created_at</th>
            <th>updated_at</th>
        </tr>
        <% if (name) {
        name.forEach(function (item, indes) {%>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.color_id %></td>
            <td><%= item.product_id %></td>
            <td><%= item.soluong %></td>
            <td><%= item.created_at %></td>
            <td><%= item.updated_at %></td>

        </tr>
        <% });
        } %>
    </table>

</div>
