<div class="contact-profile">
    <img id="participant-profile" src='<%- data.urlImagesAvatar %>' alt="" data-toggle="modal"
         data-target="#show-information-conversation"/>
    <div class="info-conversation-participant">
        <div class="info-participant">
            <input class="star favorite-participant" type="checkbox" title="bookmark users" checked/>
            <p><%- data.userName %></p>
        </div>
        <div id="extend-participant" class='info-conversation <%- data.isTypeSingle ? "" : "cursor" %>'>
            <% if (data.isTypeSingle) {
            if (data.listParticipant.length) {
            data.listParticipant.forEach((element, index)=> {
            %>
            <i channel='status.<%- data.dataChannelId %>' class='favorite-conversation <%- element.classStatus %>'
               aria-hidden="true"></i>
            <div class="info-group">
                <span class="status-name"><%- element.moodMessageShow %></span><span class="status-space">|</span><span
                    class="status-other">fsgsgsgs</span></div>
            <% });
            }
            } else {
            %>
            <i class="favorite-conversation fa fa-plus" aria-hidden="true"></i>
            <div class="info-group"><span><%- data.countParticipants %> Participants</span><span
                    class="status-space">|</span><span class="status-other">fsgsgsgs</span></div>
            <% } %>
        </div>
    </div>
    <div class="social-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class='fa <%- data.isTypeSingle ? (data.isFriendCurrentSingle ? "plus-group" : "") : "plus-user" %>'
           aria-hidden="true"
           title='<%- data.isTypeSingle ? "Create group" : "Add user" %>' data-toggle="modal"
           data-target="#list-friend-your"></i>
    </div>
</div>

<% if (!data.isTypeSingle) { %>
<div class="clearfix"></div>
<div id="group-participant" class="display-none">
    <ul class="list-group-part">
        <% if (data.listParticipant.length) {
        data.listParticipant.forEach((ele, indz) => { %>
        <li class="task info-contextmenu info-part show-info-participants">
            <span data-conversation='<%- ele.conversationID %>' data-channel='<%- ele.channelID %>' data-author="<%- ele.users_id %>" data-username="<%- ele.middle_name %>"
                  channel='status.<%- ele.isFriendCurrent ? ele.channelID : "" %>'
                  class='status-info-part stype-list <%- ele.classStatus %>'></span>
            <span class="status-info-name"><%- ele.middle_name %></span></li>
        <% });
        } %>
    </ul>
</div>
<% } %>
<div class="messages" id="frameListMsg" box-raw-msg="<%= data.minHeightBoxChat %>"
     box-change-msg="<%= data.minHeightBoxChat %>">
    <% if (data.isFriendCurrentSingle) { %>
        <ul id="boxMsgChat">
            <li class="sent">
                <img src="http://emilcarlsson.se/assets/mikeross.png" alt=""/>
                <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                <p>When you're backed against the wall, break the god damn thing down.</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                <p>Excuses don't win championships.</p>
            </li>

            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any
                    one of a hundred and forty six other things.</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                <p>When you're backed against the wall, break the god damn thing down.</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                <p>Excuses don't win championships.</p>
            </li>
            <li class="sent">
                <img src="http://emilcarlsson.se/assets/mikeross.png" alt=""/>
                <p>Oh yeah, did Michael Jordan tell you that?</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                <p>No, I told him that.</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                <p>What are your choices when someone puts a gun to your head?</p>
            </li>
            <li class="sent">
                <img src="http://emilcarlsson.se/assets/mikeross.png" alt=""/>
                <p>What are you talking about? You do what they say or they shoot you.</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any
                    one of a hundred and forty six other things.</p>
            </li>
        </ul>
    <% } else {
    if (data.isCurrentOwnerId) { %>
        <div class="send-request-user">contact request sent - <a class="">Resend contact request</a></div>
    <% } else { %>
    <div class="clearfix"></div>
    <div class="" id="request-area">
        <div class="accept-request-user">
            <div class="d-block md-col-12" align="center">
                <span>sslskgmjslgk</span>
                <button class="btn btn-primary" id="reply-decline-user">decline</button>
                <button class="btn btn-primary" id="reply-accept-user">accept</button>
            </div>
        </div>
        </div>
    <% }
    } %>
</div>
<div class="message-input" id="messageInput" data-conversation='<%- data.dataConversation %>'
     data-channel='<%- data.dataChannelId %>' data-owner='<%- data.dataOwnerId %>' data-type='<%- data.dataType %>'>
    <div class="wrap">
        <div class="scrollbar" id="style-box-sms" max-height='<%- data.maxHeightBoxChat %>'
             min-height='<%= data.minHeightBoxChat %>'>
            <textarea id="boxChat" class="box_msg" type="text" placeholder="Write your message..."></textarea>
        </div>
        <div class="btn-controler-act">
            <ul class="_552n">
                <li class="_13gd ">
                    <form action="#" class="_vzk"
                          title="Add Files" method="post">
                        <input type="hidden" name="attach_id" value="">
                        <input type="hidden" name="images_only" value="false">
                        <div class="ms_img">
                            <input id="add_f" type="file" class="" name="attachment[]" multiple="" accept="*"
                                   title="Add Files">
                            <label for="add_f" class="_4q61 _6gb _6gg attachment-cst r_file90" tabindex="-1"
                                   href="#">
                                <i class="hidden_elem" alt="Camera"></i></label>
                        </div>
                    </form>
                </li>
                <li class="_13f- ">
                    <form action="#" class="_vzk"
                          title="Add Photos" method="post">
                        <input type="hidden" name="attach_id" value="">
                        <input type="hidden" name="images_only" value="true">
                        <div class="ms_img">
                            <input id="add_i" type="file" class="" name="attachment[]" multiple=""
                                   accept="image/*"
                                   title="Add Photos">
                            <label for="add_i" class="_4q61 _6gb _6ge attachment-cst r_img70" tabindex="-1"
                                   href="#">
                                <i class="hidden_elem" alt="Camera"></i></label>
                        </div>
                    </form>
                </li>
                <li class="_13gg "><a class="_6gb _3oxr attachment-cst r_emoji50" role="button"
                                      title="Choose an emoji" href="#"><i class="" aria-hidden="true"></i></a>
                </li>
                <li class="_13gg "><a id="sendMessageChat" class="sms-send">
                    <div class="submit attachment-cst r_bt25"><i class="fa fa-paper-plane"
                                                                 aria-hidden="true"></i></div>
                </a></li>
            </ul>
        </div>
    </div>
</div>

<div id="newMsgChat" style="display: none">
    <div class="bs"><a id="notifyNewsSms" title="news message">news message</a></div>
</div>

<script>
    $(document).ready(function () {
        $('#boxChat').css({"max-height": parseInt('<%- data.maxHeightInputBoxChat %>')});
        $('#style-box-sms').css({"max-height": parseInt('<%- data.maxHeightBoxChat %>')});

        window.dataFriend = '<%- data.isFriendCurrentSingle %>';
        window.isSingle = '<%- data.isTypeSingle %>';
        if (window.dataFriend === 'false') {
            $("#messageInput").addClass("disabled-element");
            $("#frameListMsg").addClass("remove-scrollbar");
            $("#boxChat").attr("placeholder", 'Messsaging disabled until request is accepted');

            //css box chat with not friend
            $('#messageInput .btn-controler-act').remove();
            $('#boxChat').addClass('cuts-box-chat-clear center-placeholder');
        }

    });
</script>

<% if (!data.isTypeSingle) { %>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<% } %>

<div class="modal fade" id="show-information-conversation">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="list-friend-your">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div id="menu">
    <a href="#">
        <img src="http://puu.sh/nr60s/42df867bf3.png" /> AdBlock Plus <span>Ctrl + ?!</span>
    </a>
    <a href="#">
        <img src="http://puu.sh/nr5Z6/4360098fc1.png" /> SNTX <span>Ctrl + ?!</span>
    </a>
    <hr />
    <a href="#">
        <i class="fa fa-fort-awesome"></i> Fort Awesome <span>Ctrl + ?!</span>
    </a>
    <a href="#">
        <i class="fa fa-flag"></i> Font Awesome <span>Ctrl + ?!</span>
    </a>
</div>

