<!DOCTYPE html>
<html LANG="EN">
<head>
    <meta charset="UTF-8">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEREREAAAAAAAAAABAAAAAAAAAAAQAAAAAAAAAAEAAAAAAAAAAQAAEREQAAABEAEQAAEQAAAAAQAAABAAABABAAAAEAABAAAQAAAQAAEAAAAQABABEAAAAAERERAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA8A8AAP/3AAD/+wAA//0AAP/9AADg/AAAzz8AAN++AADfvQAA770AAPuzAAD8DwAA//8AAP//AAD//wAA"
          rel="icon" type="image/x-icon"/>
    <title><%= title %></title>
    <%- metaCommonNotEdit %>
    <%- metaInclude %>
    <%- cssCommonNotEdit %>
    <%- cssInclude %>
    <%- scriptCommonHeadNotEdit %>
    <%- scriptIncludeHead %>

</head>


<body class="question-page new-topbar">
<div id="notify-container"></div>
<div id="custom-header"></div>

<%- include('./../layouts/header.ejs') %>

<div class="container _full ">
    <div id="content" class="snippet-hidden">
        <%- include('./../layouts/nav.ejs') %>
        <div class="inner-content">
            <div id="question-header">
                <%- header %>
            </div>

            <div id="<%- (typeof isNotIncludeSidebar === 'undefined') ? 'mainbar' : ''  %>" role="main"
                 aria-label="question and answers">
                <%- body %>
                <%- (typeof content !== 'undefined') ? content : '' %>
            </div>
            <% if (typeof isNotIncludeSidebar === 'undefined') { %>
            <div id="sidebar" class="show-votes" role="complementary" aria-label="sidebar">
                <%- include('./../layouts/sidebar.ejs') %>
            </div>
            <% } %>
            <div id="feed-link">
                <%- feedBack %>
            </div>
        </div>
    </div>
</div>
<%- scriptCommonBodyNotEdit %>
<%- scriptInclude %>
<footer id="footer" class="s-footer js-footer" role="contentinfo">
    <%- include('./../layouts/footer.ejs') %>
</footer>
</body>
</html>
